name: New package

on:
  issues:
    types: labeled

jobs:
  create-package:
    runs-on: windows-2022
    if: github.event.label.name == 'send PR'
    steps:
      - name: Remove 'send PR' label
        uses: actions-ecosystem/action-remove-labels@v1
        with:
          labels: send PR
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Parse issue
        uses: stefanbuck/github-issue-parser@v2
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/new_package.yml
      - name: Write issue JSON string to tmp file
        run: |
          echo $env:JSON_STRING > pkg.json
          cat pkg.json
        env:
          JSON_STRING: ${{ steps.issue-parser.outputs.jsonString }}
      - name: Create package
        run: |
          # The Python script prints the package name so that we can add it to GITHUB_ENV
          $pkg_name = $(python scripts/utils/create_package_template_from_json.py --json_file pkg.json)
          echo "pkg_name=$pkg_name" >> $env:GITHUB_ENV
      - name: Build and test new package
        id: test
        run: scripts/test/test_install.ps1 "$env:pkg_name.vm"
      - name: Upload logs to artifacts
        uses: ./.github/actions/upload-logs
        if: always()
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        if: steps.test.outcome == 'success'
        with:
          title: ':robot: Add ${{env.pkg_name}}.vm'
          body: 'Automated PR from ${{github.event.issue.html_url}} :rocket:'
          add-paths: packages/*
          commit-message: |
            Add ${{env.pkg_name}}.vm
            
            Closes ${{github.event.issue.html_url}}.
          branch: package-${{env.pkg_name}}
          committer: vm-packages <vm-packages@mandiant.com>
          author: vm-packages <vm-packages@mandiant.com>
          labels: ":new: package"
          # GH actions can not trigger other GH actions,
          # use a Personal Access Token to trigger the CI workflow in the created PR
          token: ${{ secrets.REPO_TOKEN }}
